h1, h2{
    font-family: 'Montserrat';
    font-weight: bold;
}

h2{
    font-size: 30px;
}

p{
    font-family: 'Roboto';
}

.header{
    position: sticky;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #FAF9EE;
    z-index: 10;
    border-radius: 0 0 25px 25px;
    
}

.logo-icon{
    width: 50px;
    height: 50px;
    color: #000;
}

.navbar a{
    color: #000;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
}

.navbar a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.banner{
    background: url('resources/images/programming.jpg');
    padding: 250px 50px;
    text-align: center;
}

.banner h1{
    font-size: 50px;
    color: #FAF9EE;
    text-transform: uppercase;
}

.banner h2{
    color: #FAF9EE;
}

.banner button{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 35px;
    background-color: #FAF9EE;
    border: none;
    border-radius: 1rem;
    margin-top: 15px;
}

.banner button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.banner button:active{
    cursor: pointer;
    transform: scale(1);
}

.about-me{
    padding: 250px 50px;
    text-align: center;
}

.projects{
    padding: 250px 50px;
    text-align: center;
    background-color: #FAF9EE;
}

.contact{
    padding: 250px 50px;
    text-align: center;
    width: 300px;
    justify-content: center;

}

html, body {
  height: 100%;
  margin: 0;
}

.form-wrapper {
  display: flex;
  justify-content: center;  /* vízszintesen középre */
  align-items: center;      /* függőlegesen középre */
  height: 100vh;            /* teljes képernyőmagasság */

}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

